Multiple Linear Regression Model

In [1]:
### A multiple linear regression model estimates the relationship between -
 #'two or more independent varibles' and 'one dependent  variable


 # here, the independent variable are donated by x1,x2,x3..while the dependent variable is denoted 
# by y

# it discribes how the value of dependent variable changes in the values of independent variable.


# equation = y = mx1x1 + mx2x2 + mx3x3 + b
#x1,x2,x3  = independent variable
#m1,m2,m3 = slopes/cofficients
#b = intercept / constant

Importing necessary libraries

In [2]:
import pandas as pd

importing the data set

In [3]:

data = pd.read_csv('data.csv')

In [4]:
data

# x variable = transportation, Stationary, Packaging
# y variable = Revenue

    Transportation  Stationary  Packaging  Revenue
0             1000        1200        150     1203
1             1200        1150        300     1603
2             1400        1000        450     2003
3             1000        1050        600     2403
4             1800        1000       1000     2803
5             1000         950        900     3203
6             2200         900       1050     3603
7             2400        1000       1200     4003
8             1000         800       1350     4403
9             2800         750       1000     4803
10            3000         700       1650     5203
11            1000         650       1800     5603
12            3400         600       1000     6003
13            3600         550       2100     6403
14            1000        1000       2250     6803
15            4000         450       2400     7203
16            4200         400       1000     7603
17            4400        1000       2700     8003
18            1000         300       2850     8403
19            4800         250       3000     8803
20            5000         200       1000     9203
21            5200         150       3300     9603
22            1000         100       3450    10003
23            5600          50       3600    10403

In [5]:
data.head(4)

   Transportation  Stationary  Packaging  Revenue
0            1000        1200        150     1203
1            1200        1150        300     1603
2            1400        1000        450     2003
3            1000        1050        600     2403

Traning the model

In [ ]:
from sklearn.linear_model import LinearRegression
# creating a linear regression object
model = LinearRegression()


# model.fit(x,y)
model.fit(data[['Transportation ', 'Stationary' , 'Packaging']], data['Revenue'])

start making the predictions

In [ ]:
# making predictions 1      # we have to put x in the form of 2-d array
# model.predict([[x1,x2,x3]])

model.predict([[4200, 1000, 2500]])

In [ ]:
# making predictions 2      # we have to put x in the form of 2-d array
# model.predict([[x1,x2,x3]])

model.predict([[10000, 9000, 50000]])

In [ ]:
# checking the accuracy of the model
# model.score(x,y)

model.score(data[['Transportation ', 'Stationary' , 'Packaging']], data['Revenue'])

In [ ]:
# checking the cofficients (m1,m2,m3)
model.coef_

In [ ]:
# checking the intercept (b)
model.intercept_

In [ ]:
# checking y with the wquation : y = m1x1 + m2x2 + m3x3 + b
 y = 0.3047125*4200 + -3.60438683*100 + 1.21093532*2500 + 5412.819668634772
 print(y)